
/* Scrollbar im Table */
.ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #434343 #1f1f1f;
}

.ant-table-body::-webkit-scrollbar {
  width: 8px;
}

.ant-table-body::-webkit-scrollbar-track {
  background: #1f1f1f;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #434343;
  border-radius: 10px;
  border: 2px solid #1f1f1f;
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/* Scrollbar im Menü */
.ant-layout-sider {
  scrollbar-width: thin; /* Firefox-Unterstützung */
  scrollbar-color: #434343 #1f1f1f; /* Farbe für Firefox */
}

.ant-layout-sider::-webkit-scrollbar {
  width: 8px;
}

.ant-layout-sider::-webkit-scrollbar-track {
  background: #1f1f1f;
}

.ant-layout-sider::-webkit-scrollbar-thumb {
  background-color: #434343;
  border-radius: 10px;
  border: 2px solid #1f1f1f;
}

.ant-layout-sider::-webkit-scrollbar-thumb:hover {
  background: #555555;
}